body{
    background-color: #d0dbf8;
}
div{
    border-radius: 8px;
}
menu{
    background-color: #260D61;/**Definir a cor de fundo de um elemento(nesse caso, a do fundo da tela)**/
    padding: 10px;/**Add espaço ao redor do conteúdo do menu**/
    text-align: center;/**Alinhamento do texto**/
    display: flex;/**Usa um layout flexível para alinhar os elementos**/
    justify-content: center;/**Alinha os elementos horizontalmente**/
    gap: 60px;/**Define a distância entre os elementos**/
    height: 75px;
    width: 97%;
    position: fixed;
    z-index: 2;
    border-radius: 8px;
    margin: 15px;
}
/**estilizando o elemento pela classe com o caracter "." antes do nome da classe**/
.menu-itens{
    color: #f1f1f1;/**Define a cor do texto**/
    text-decoration: none;/**Retira o traço de link da palavra**/
    padding: 15px 25px;
    font-size: 18px;/**Define o tamanho do texto**/
    display: inline-block;/**Deixa o item como o bloco em uma linha**/
}
/**Hover é um evento de mouse que ocorre uma ação toda vez que colocamos o mouse em cima do elemento. Abaixo aplicamos um evento de mouse no nosso menu**/
.menu-itens:hover{
    /*Quando colocarmos o mouse sobre os elementos iremos:*/
    background-color: #d0dbf8;/*Trocar a cor de fundo*/
    color: #260D61;/*A cor do texto*/
    width: 220px;/*Ajustaremos a largura do elemento*/
    padding: 15px 25px;/*A distância do conteúdo*/
    border-radius: 8px;/*Arredondar as bordas de um elemento*/
    text-decoration: none;
}
#titulo1{
    margin-top: 7%;
}
.caixa1{
    padding: 15px;
    background-color: #abbff5;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.carousel-inner{
    position: relative; /*Ao mover o elemento, ele não interfere nos outros elementos ao seu redor*/
}
.carousel-control-prev, .carousel-control-next{
    position: absolute;/*Posiciona um elemento em relação ao elemento pai mais próx.*/
    top: 50%;/*Posiciona a 50% da altura do elemento filho*/
    transform: translateY(-50%);/*Move o elemento ao longo do eixo vertical y*/
    width: 5%;/*Ajuste da largura das setas*/
    z-index: 1;/*Garante que fiquem sobre a imagem*/
    background-color: rgba(0, 0, 0, 0.5);/*Um fundo semitransparente*/
}
h1{
    font-family: Cambria, 'Courier New', Courier, monospace;
    color: #260D61;
    font-size: 40px;
}
h6{
    font-family: Cambria, 'Courier New', Courier, monospace;
    color: #35157e;
    font-size: 22px;
}
p,td{
    font-family: Cambria, 'Courier New', Courier, monospace;
    color: #260D61;
    font-size: 20px;
}
img,video{
    border-radius: 8px;
}
footer{
    background-color: #260D61;
    height: 50px;
    color: aliceblue;
    justify-items: center;
    padding-top: 1%;
    margin-bottom: 0%;
}